################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VL_D365fo-git-managed
/.vs
/.gitignore
